# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Android
*.iml
.gradle/
local.properties
.idea/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
build/
.gradle
captured_images/
*.jpg
*.jpeg
*.png

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# 기타
*.docx
*.pdf
url.txt

